<div class="reset-password-container">
    <div class="card">
        <h3>Promeni šifru</h3>
        
        <form>
            <label>Nova sifra:</label>
            <input type="password" name="newPassword" [(ngModel)]="newPassword" placeholder="Unesite novu šifru">
            <button type="button" (click)="resetPassword()">Promeni šifru</button>
        </form>

        @if(message) {
            <p class="message">{{message}}</p>
        }
        @if(error) {
            <p class="message">{{error}}</p>
        }

        <p class="back-link">
            <a routerLink="/welcome">Nazad na prijavu</a>
        </p>
    </div>
</div>