<div class="forgot-password-container">
    <div class="card">
        <p class="subtitle">Unesite korisnicko ime ili email adresu za reset lozinke.</p>
        
        <form>
            <input type="text" name="credential" [(ngModel)]="credential" placeholder="Korisnicko ime ili email">
            <button type="button" (click)="requestPasswordReset()">Pošalji zahtev</button>
        </form>

        @if(message.includes("http")) {
            <div class="success-box">
                <a [href]="message" class="reset-link">Promenite šifru</a>
            </div>
        } @else if(message) {
            <p class="error">{{message}}</p>
        }
    </div>
</div>